body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Ubuntu", sans-serif;
    scroll-behavior: smooth;
}

.nav-link:focus,
.navbar-toggler:focus,
.form-control:focus,
.form-check-input:focus {
    outline: none;
    box-shadow: none;
}

.caption-overlay {
    background-color: rgba(0, 0, 0, 0.3);
    padding: 1rem;
    border-radius: 5px;
}

.carousel-item img {
    height: 600px;
    object-fit: cover;
    background-blend-mode: overlay;
}

.card {
    transition: transform 0.3s ease;
}

.card:hover {
    transform: scale(1.05);
}

.card img {
    height: 200px;
    object-fit: cover;
}

@media (max-width: 768px) {
    .carousel-item img {
        height: 400px;
    }
}